<%= render 'partials/header' %>

<div class="container container-white">
  <div class="row">
    <div class="col-sm-12">
      
      <h1>Politicas de Privacidad de Cripto en Español</h1>
      <hr>
      <section>
        <%= @privacy_policy.content.html_safe %>
        <hr>
        Version <%= @privacy_policy.version %>
        <p>
          Ultima actualización:
          <%= @privacy_policy.updated_at.strftime('%d-%M-%Y') %>
        </p>
      </section>
    </div>
  </div>
</div>

