<div class="note">
  <a href="" class="note_profile-pic"></a>
  <a href="" class="note_username"><%=note.user.email%></a>
  <span class="note_timestamp">
    <%= note.created_at %>
  </span>
  <span class="note_star"></span>
  <span class="note_content">
    <%= note.content %>
  </span>
</div>
