<header class="header">

  <div class="bg-image"></div>

  <div class="row topbar">

    <div class="col-lg-6">
      <div class="logo-container">
        <%= image_tag "logo.png", class: 'logo' %>
      </div>
    </div>
    
    <div class="col-lg-6">
      
      <div class="login" align="right">
        <nav class="login-menu">
          <ul>
            <li>
              <a class="aregistros" style="color:white">
                <img  src="<%= image_url("11.png")%>" alt="">
                INICIAR
              </a>
            </li>

            <li>
              <a class="aregistros" style="color:white" >
                <img  src="<%= image_url("12.png")%>" alt="">
                REGISTRARSE
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</header>