<%= render 'partials/header' %>

<div class="container container-white">
  
  <div class="row">
    <div class="col-sm-12">
        <h1>Lo ultimo de Cripto en Español</h1>
        <hr>
    </div>
  </div>

</div>