<%= render 'partials/header_admin' %>

<div class="container-fluid bg white padding padding-large">
  <div class="row">
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
      
      <h1>Nueva Lección</h1>

      <%= render 'form', lesson: @lesson %>

      <%= link_to 'Back', @course %>
    </div>
  </div>
</div>
