<%= render 'partials/header_admin' %>

<div class="container-fluid bg white padding padding-large">
  <h1>New Course</h1>


  <%= render 'form', course: @course %>

  <%= link_to 'Back', courses_path %>
</div>

