<%= render 'partials/header_admin' %>

<div class="container-fluid bg white padding padding-large">
  <div class="row">
    <div class="col">
      <h1><%= @course.name %> <span class="badge badge-primary"> <%= @course.level %> </span> </h1>  
    </div>
  </div>
  <p>
    <strong>Resumen del curso:</strong>
    <%= @course.description %>
  </p>
  <hr>
  <h2 class="black-text">Lecciones del curso</h2>
</div> 
