@import "bootstrap";
body{
  background: black;
  font-family: Helvetica;
}
.imginicial{
  position:absolute;
  top:0px;
  left:5px;
  border:none;
}
.sobre {
 position:absolute;
 top:0px;
 left:10px;
 border:none;
}
.aregistros{
  font-size: 15px;

}
.imatop{
  margin-top:3px;
}
.caract{
  left: 0px;
margin-top: 150px;
}
.macara{
  margin-top: 60px;
}
.margen-bordes{
  margin-top: 60px;
}
.color-marge{
  border-bottom: 3em;
  border:solid 4px  rgb(94, 27, 96);
  margin-left: 3px;
  margin-right: 3px;
}
#menu{
  width: 300px;
  margin-top: 150px;
}
div#menu ul{
  list-style: none;
}
div#menu ul li{
  padding-left: 5px;
  padding: 5px;
  margin-top: 20px;
  font-size: 20px;
  text-decoration-color: black;
  vertical-align: middle;
  background-color: white;
  opacity: 0.5;
  filter:  alpha(opacity=50);
  border-radius: 20px 20px 20px 20px;
  -webkit-transition:padding-Left 0.6s;
  -webkit-transition:width 0.006s;

}
div#menu ul li:hover{
  padding-left: 20px;
  width: 350px;
}
h2{
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.titulo-planes{
  margin: 2em;
}
p{
  font-size: 13px;
  color:white;
}
.contenedor-principal-planes{
  margin: 1em 3em;
}
.contenedor-planes{
  border: solid 4px #c08c1d;
  margin-bottom: 1em;
  padding: 1em;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
}
.division-planes{
  border-top: solid 4px #c08c1d;
  padding: 1em;
}
.imagen-planes{
  margin: 1em;
}
.boton-planes{
  width: 100%;
  border: solid 4px #c08c1d;
  border-radius: 17px;
  background: none;
  color: white;
  font-size: 13px;
  margin-bottom: 1em;
  cursor: pointer;
}
.boton-planes:hover{
  border: solid 4px white;
}
.contacto{
  margin-top: 3em;
  margin-left: 2em;
}
.contenedor-contacto{
  background: white;
  border-radius: 20px;
  padding: 2em;


}
.titulo-contacto{
  color: black;
}
.contenedor-texto-contacto{
  margin-top: 10%;
}
.texto-contacto{
  text-align: justify;

}
.redes-sociales{
  margin-top: 10em;
  margin-bottom: 0em;
}
.iconSocial:hover{

}
